
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>About</h1>
        <p class="mb-0 mt-1">IFHA is a name synonymous with originality </p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/index">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">About</li>
        </ol>
    </div>

</section>
<!-- Content -->
<section id="content">

    <div class="content-wrap  nobottompadding">

        <div class="container clearfix">

            <div class="col_full">

                <div class=" clearfix">
                    <div class="heading-block center mb-3 noborder" data-heading="A">
                        <h1>About Us </h1>
                    </div>
                    <div class="center bottommargin-lg col-lg-8 offset-lg-2">
                        <h3 class="text-rotater  size-18 text-black font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                            IFHA is a name synonymous with originality, creativity and an endeavor towards perfection. Since its inception, we are diversely identifying and fulfilling market needs.
                        
                            We specialize in manufacturing wide variety of Round Draw Cord, Twill Tape, Bungee Cords, Tubular Cord, and Elastic.
                        </h3>
                    </div>
                </div>

                <div class="fslider" data-pagi="false" data-animation="fade">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide"><a href="#"><img src="~/Content/images/elastic/6.jpeg" class="about-img" alt="About Image"></a></div>
                            <div class="slide"><a href="#"><img src="~/Content/images/elastic/8.jpeg" class="about-img" alt="About Image"></a></div>
                            <div class="slide"><a href="#"><img src="~/Content/images/drawcord/7.jpeg" class="about-img" alt="About Image"></a></div>
                            <div class="slide"><a href="#"><img src="~/Content/images/drawcord/6.jpeg" class="about-img" alt="About Image"></a></div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="promo promo-light bottommargin">
                <h3>Call us today at <span>+92 313 2212791</span> or email us at <span> info@ifhaenterprises.com</span></h3>
                @*<span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>*@
                <a href="~/Home/Contact" class="button button-xlarge button-rounded">Contact Us</a>
            </div>
        </div>
        <!-- Mission vission
        ============================================= -->
        <div class="row  align-items-stretch">

            <div class="col-lg-4 dark padding-y ohidden bg-gold">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">Our Mission</h3>
                    <p style="line-height: 1.8;">
                        We believe in developing flexible partnerships with our customers on the basis of trust and mutual understanding. Our mission is to become the global market leader in narrow fabric industry. We will develop ourselves by offering products on competitive price, quality, service and reliability.
                    </p>

                    <i class="icon-bulb bgicon"></i>
                </div>
            </div>

            <div class="col-lg-4 dark padding-y ohidden bg-purple">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">Why choose Us</h3>
                    <p style="line-height: 1.8;">We have been operating in the industry since 2002, thus can easily claim to be the market leaders accompanied by vast experience of the field and our tradition of providing value added services to our customers. Our objective is to meet customer needs beyond their expectations.</p>

                    <i class="icon-cog bgicon"></i>
                </div>
            </div>

            <div class="col-lg-4 dark padding-y ohidden bg-red">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">What you get</h3>
                    <p style="line-height: 1.8;">Expanding throughout the years, we have become the leading manufacturers of narrow fabrics and laces in Pakistan. Offering products in cotton, polyester and blended yarns. Our machines pass a very rigorous inspection of both assembly and perfect functioning before leaving our facilities.</p>

                    <i class="icon-thumbs-up bgicon"></i>
                </div>
            </div>

            <div class="clear"></div>

        </div>

        @*<div class="section mt-4 bg-white mb-0 pb-0">
            <div class="container clearfix">
                <div class="heading-block center mb-4 noborder" data-heading="">
                    <h3>our Team </h3>
                </div>
                <div class="center bottommargin col-lg-8 offset-lg-2">
                    <h3 class="text-rotater  size-18 text-black font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                        We can easily claim to be the market leaders accompanied by vast experience of the field and our tradition of providing value added services to our customers.
                    </h3>
                </div>
            </div>
            <div class="container clearfix">
                <div id="oc-team" class="owl-carousel team-carousel mb-3 carousel-widget" data-margin="30" data-pagi="false" data-items-sm="2" data-items-md="2" data-items-xl="5">

                    <div class="oc-item">
                        <div class="team">
                            <div class="team-image">
                                <img src="~/Content/images/team/1.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                            </div>
                            <div class="team-desc">
                                <div class="team-title">
                                    <h4 class="text-purple">MUHAMMAD FAROOQ KHATURA </h4>
                                    <p class="text-gold mb-0 font-weight-bold">CHIEF EXECUTIVE OFFICER</p>
                                    <p class="font-italic font-weight-bolder text-black-50">0321-2100052</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="team">
                            <div class="team-image">
                                <img src="~/Content/images/team/5.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                            </div>
                            <div class="team-desc">
                                <div class="team-title">
                                    <h4 class="text-purple">MUHAMMAD HANIF KHATUDA</h4>
                                    <p class="text-gold mb-0 font-weight-bold">PRODUCTION MANAGER & QUALITY CONTROLLER</p>
                                    <p class="font-italic font-weight-bolder text-black-50">0311-2029917</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="team">
                            <div class="team-image">
                                <img src="~/Content/images/team/3.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                            </div>
                            <div class="team-desc">
                                <div class="team-title">
                                    <h4 class="text-purple">MUHAMMAD YASEEN KHATUDA</h4>
                                    <p class="text-gold mb-0 font-weight-bold">DIRECTOR FINANCE </p>
                                    <p class="font-italic font-weight-bolder text-black-50">0300-2296112</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="team">
                            <div class="team-image">
                                <img src="~/Content/images/team/2.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                            </div>
                            <div class="team-desc">
                                <div class="team-title">
                                    <h4 class="text-purple">Bilal Khatuda</h4>
                                    <p class="text-gold mb-0 font-weight-bold">GENERAL MANAGER</p>
                                    <p class="font-italic font-weight-bolder text-black-50">0313-2212791</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="team">
                            <div class="team-image">
                                <img src="~/Content/images/team/4.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                            </div>
                            <div class="team-desc">
                                <div class="team-title">
                                    <h4 class="text-purple">MUHAMMAD MUBEEN KHATUDA</h4>
                                    <p class="text-gold mb-0 font-weight-bold">ASSISTANT MANAGER </p>
                                    <p class="font-italic font-weight-bolder text-black-50">0332-0269633</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@

    </div>



</section>
<!-- #content end -->