@{
    ViewBag.Title = "Home";
}



<!-- Slider
============================================= -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">

    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background: linear-gradient(rgba(241, 230, 210, 0.43), rgba(239, 118, 118, 0.44)) 0% 0%   , url(/Content/images/drawcord/7.jpeg) no-repeat; background-size: cover;">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="font-primary nott text-purple">Creative Work</h2>

                            <p class="t300 font-primary d-none d-sm-block text-black">
                                IFHA is a name synonymous with originality, creativity and an endeavor towards perfection. Since its inception, we are diversely identifying and fulfilling market needs.
                            </p>
                            <a href="#about" class="btn btn-purple mt-3 px-4">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background: linear-gradient(rgba(241, 230, 210, 0.43), rgba(239, 118, 118, 0.44)) 0% 0%   , url(/Content/images/elastic/4.jpeg) no-repeat; background-size: cover;">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="font-primary nott text-purple">Elastics</h2>

                            <p class="t300 font-primary d-none d-sm-block text-black">
                                We produce basic and fancy elastics for our customers. Having an extensive fleet of german machinery for these items, we have a capacity to produce about 0.5 million meters of elastic per month.
                            </p>
                            <a href="~/Home/Service" class="btn btn-purple mt-3 px-4">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background: linear-gradient(rgba(241, 230, 210, 0.43), rgba(239, 118, 118, 0.44)) 0% 0%   , url(/Content/images/TwillTapes/8.jpg) no-repeat; background-size: cover;">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="font-primary nott text-purple">Twill Tapes</h2>

                            <p class="t300 font-primary d-none d-sm-block text-black">
                                Our twill tapes are normally produced in polyester and cotton yarn as per our client requirements. We provide exclusive sampling services to our clients and work closely with them regarding their garment accessories needs.
                            </p>
                            <a href="~/Home/Service" class="btn btn-purple mt-3 px-4">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background: linear-gradient(rgba(241, 230, 210, 0.43), rgba(239, 118, 118, 0.44)) 0% 0%   , url(/Content/images/drawcord/10.jpeg) no-repeat; background-size: cover;">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="font-primary nott text-purple">Draw Cord</h2>

                            <p class="t300 font-primary d-none d-sm-block text-black">
                                Over the years, we have produced flat and tubular cords in multiple designs. Today, we are serving leading exporters and local brands in both home textile and apparel divisions.
                            </p>
                            <a href="~/Home/Service" class="btn btn-purple mt-3 px-4">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Arrows
            ============================================= -->
            <div class="slider-arrow-left nobg"><i class="icon-line-arrow-left"></i></div>
            <div class="slider-arrow-right nobg"><i class="icon-line-arrow-right"></i></div>
        </div>

        <!-- Slider Mouse Icon
        ============================================= -->
        <a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><img class="infinite animated fadeInDown" src="~/Content/images/mouse.svg" alt=""></a>
    </div>

</section>

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap nobottompadding" style="z-index: 1;" id="about">
        @*<div class="section mt-4 bg-white mb-0 pb-0">
                <div class="container clearfix">
                    <div class="heading-block center mb-4 noborder" data-heading="">
                        <h3>Our Team </h3>
                    </div>
                    <div class="center bottommargin col-lg-8 offset-lg-2">
                        <h3 class="text-rotater  size-18 text-black font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                            We can easily claim to be the market leaders accompanied by vast experience of the field and our tradition of providing value added services to our customers.
                        </h3>
                    </div>
                </div>
                <div class="container clearfix">
                    <div id="oc-team" class="owl-carousel team-carousel mb-3 carousel-widget" data-margin="30" data-pagi="false" data-items-sm="2" data-items-md="2" data-items-xl="5">

                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="~/Content/images/team/1.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title">
                                        <h4 class="text-purple">MUHAMMAD FAROOQ KHATUDA </h4>
                                        <p class="text-gold mb-0 font-weight-bold">CHIEF EXECUTIVE OFFICER</p>
                                        <p class="font-italic font-weight-bolder text-black-50">0321-2100052</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="~/Content/images/team/5.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title">
                                        <h4 class="text-purple">MUHAMMAD HANIF KHATUDA</h4>
                                        <p class="text-gold mb-0 font-weight-bold">PRODUCTION MANAGER & QUALITY CONTROLLER</p>
                                        <p class="font-italic font-weight-bolder text-black-50">0311-2029917</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="~/Content/images/team/3.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title">
                                        <h4 class="text-purple">MUHAMMAD YASEEN KHATUDA</h4>
                                        <p class="text-gold mb-0 font-weight-bold">DIRECTOR FINANCE </p>
                                        <p class="font-italic font-weight-bolder text-black-50">0300-2296112</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="~/Content/images/team/2.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title">
                                        <h4 class="text-purple">Bilal Khatuda</h4>
                                        <p class="text-gold mb-0 font-weight-bold">GENERAL MANAGER</p>
                                        <p class="font-italic font-weight-bolder text-black-50">0313-2212791</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="~/Content/images/team/4.jpg" style="width: 75%; height: 230px; margin: auto; object-fit: cover; object-position: top;" alt="">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title">
                                        <h4 class="text-purple">MUHAMMAD MUBEEN KHATUDA</h4>
                                        <p class="text-gold mb-0 font-weight-bold">ASSISTANT MANAGER </p>
                                        <p class="font-italic font-weight-bolder text-black-50">0332-0269633</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@

        <!-- About Sections
        ============================================= -->
        <div class=" mb-5 pb-4 clearfix">

            <div class="container clearfix">

                <div class="row clearfix">
                    <!-- Video Texts
                    ============================================= -->
                    <div class="align-self-center col-lg-6">
                        <div class="heading-block bottommargin-sm noborder">
                            <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">Our Company</h3>
                        </div>
                        <p class="t400 pr-lg-4 mb-0">
                            Expanding throughout the years, we have become the leading manufacturers of narrow fabrics and laces in Pakistan.
                            Offering products in cotton, polyester and blended yarns.
                        </p>
                        <p class="t400 pr-lg-4">
                            Our machines pass a very rigorous inspection of both assembly and perfect functioning before leaving our facilities.
                            We adhere to our managements philosophy to upgrade our Lace products to help our customers to keep at the top of the market requirements and possibilities.
                        </p>
                        <a href="~/home/about" class="btn btn-gold mb-5 mb-lg-0">Read More</a>
                    </div>

                    <div class="col-lg-6 nopadding align-self-end">
                        <!-- Youtube Video Link ============================================= -->
                        <a href="~/Content/images/elastic/v2.mp4" data-lightbox="iframe">
                            <img src="~/Content/images/elastic/7.jpeg" alt="Youtube Video" class="image_fade" style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
                            <i class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #FFF; margin-top: -45px; margin-left: -23px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Products
        ============================================= -->
        <div class=" py-5">
            <div class="container clearfix" style=" z-index: -0;">
                <div class="heading-block center my-4 noborder" data-heading="">
                    <h3>Our Products</h3>
                </div>
                <div class="center bottommargin col-lg-8 offset-lg-2">
                    <h3 class="text-rotater font-secondary size-18 text-black" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                        We specialize in manufacturing wide variety of Round Draw Cord, Twill Tape, Bungee Cords, Tubular Cord, and Elastic.
                    </h3>
                </div>
                <div class="row grid-container mb-4" data-layout="masonry" style="overflow: visible">
                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="400" style="background-image: url('../../Content/images/elastic/1.jpeg');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Elastics</h3>
                                            <p class="card-text t400 text-left">We produce basic and fancy elastics for our customers. Having an extensive fleet of German machinery for these items, we have a capacity to produce about 0.5 million meters of elastic per month.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back bg-gold no-after " data-height-xl="400">
                                <div class="flip-card-inner">
                                    <ul class="Size-list">
                                        <li class="pb-3 font-weight-bold h5 text-purple">Available Sizes </li>
                                    </ul>
                                    <h4 class="text-left">
                                        <span class="badge badge-secondary mb-2 mr-1">½ inch</span>
                                        <span class="badge badge-secondary mb-2 mr-1">¾ inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">1 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">1.25 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">1.5 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">1.75 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">2 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">2.25 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">2.5 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">2.75 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">3 inch</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center top-to-bottom">
                            <div class="flip-card-front dark " data-height-xl="400" style="background-image: url('../../Content/images/drawcord/2.jpeg')">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Draw Cord</h3>
                                            <p class="card-text t400 text-left">Over the years, we have produced flat and tubular cords in multiple designs. Today, we are serving leading exporters and local brands in both home textile and apparel divisions.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back  bg-gold no-after" data-height-xl="400">
                                <div class="flip-card-inner">
                                    <ul class="Size-list">
                                        <li class="pb-3 font-weight-bold h5 text-purple">Available Sizes</li>

                                    </ul>
                                    <h4 class="text-left">
                                        <span class="badge badge-secondary mb-2  mr-1">2 cm</span>
                                        <span class="badge badge-secondary mb-2  mr-1">1 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">10 mm</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="400" style="background-image: url('../../Content/images/TwillTapes/5.jpg')">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Twill Tapes</h3>
                                            <p class="card-text t400 text-left ">
                                                Our twill tapes are normally produced in polyester and cotton yarn as per our client requirements. We provide exclusive sampling services to our clients and work closely with them regarding their garment accessories needs.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back bg-gold no-after" data-height-xl="400">
                                <div class="flip-card-inner">
                                    <ul class="Size-list">
                                        <li class="pb-3 font-weight-bold h5 text-purple">Available Sizes</li>
                                    </ul>
                                    <h4 class="text-left">
                                        <span class="badge badge-secondary mb-2  mr-1">1 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">½ inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">3/8 inch</span>
                                        <span class="badge badge-secondary mb-2  mr-1">8 mm</span>
                                        <span class="badge badge-secondary mb-2  mr-1">10 mm</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 text-center mt-4">
                        <a href="~/Home/Service" class="btn btn-gold mt-2 px-4 py-2 ">Read More</a>
                    </div>
                </div>

            </div>
        </div>



        <!-- How We Work
        ============================================= -->
        <div class="section nobg clearfix mt-4">
            <div class="container clearfix">
                <div class="heading-block mb-4 center noborder" data-heading="">
                    <h3>What We Do</h3>
                </div>
                <div class="center bottommargin col-lg-8 offset-lg-2">
                    <h3 class="text-rotater  size-18 text-black font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                        We will develop ourselves by offering products on competitive price, quality, service and reliability. Our continuous improvement will be on product design, product development, quality standards and manufacturing performance.
                    </h3>
                </div>
            </div>

            <!-- How We Work - Carousel
            ============================================= -->
            <div id="oc-features" class="owl-carousel owl-carousel-full image-carousel carousel-widget">
                <div class="oc-item">
                    <div class="row cleafix">
                        <div class="col-xl-6">
                            <img src="~/Content/images/drawcord/7.jpeg" style="height: 400px; object-fit: cover;" alt="">
                        </div>
                        <div class="col-xl-4 align-self-center" style="padding: 20px 0 0 20px;">
                            <h3>
                                Product Development
                            </h3>
                            <p>Product development team consists of local and international design consultants helping to develop collection based on new trends and fashion. One of its kind web based fashion portal service providing online collections which are developed every season focusing international denim trends.</p>

                        </div>
                    </div>
                </div>
                <div class="oc-item">
                    <div class="row cleafix">
                        <div class="col-xl-6">
                            <img src="~/Content/images/drawcord/9.jpeg" style="height: 400px; object-fit: cover; object-position: bottom;" alt="">
                        </div>
                        <div class="col-xl-4 align-self-center" style="padding: 20px 0 0 20px;">
                            <h3>Quality Production</h3>
                            <p>
                                Our customers certify our garment laboratory, allowing
                                you to feel confident in our brand. Facility of physical and chemical testing and laboratory certification by clients allowing you to feel confident.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="row cleafix">
                        <div class="col-xl-6">
                            <img src="~/Content/images/product/wwd-3.jpg" style="height: 400px; object-fit: cover;" alt="">
                        </div>
                        <div class="col-xl-4 align-self-center" style="padding: 20px 0 0 20px;">
                            <h3>Separate Departments</h3>
                            <p>Four separate departments dedicated to product development, these are equipped with all types of dry and wet process machines including full stitching and finishing setup.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- What We Do
        ============================================= -->
        <div class=" nopadding notopmargin nobg clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
            <div class="row align-items-stretch clearfix">
                <div class="col-lg-6 center col-padding" style="background: url('../../Content/images/elastic/8.jpeg') center center no-repeat; background-size: cover;">
                    <div>&nbsp;</div>

                </div>

                <div class="col-lg-6 col-padding " style=" z-index: -0;">
                    <div>
                        <div style="position: relative;">
                            <div class="heading-block noborder" data-heading="">
                                <h3 class="nott ls0">Why Choose Us</h3>
                            </div>
                        </div>

                        <!-- About Us Featured Boxes
                        ============================================= -->
                        <div class="row clearfix">
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-globe-asia"></i></a>
                                    </div>
                                    <h3>Recognized</h3>
                                    <p>IFHA is a recognized market leader in the narrow fabrics and garment accessories market. Our tradition of providing value added services to our customers</p>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-handshake"></i></a>
                                    </div>
                                    <h3>Relationship</h3>
                                    <p>We believe in developing flexible partnerships with our customers on the basis of trust and mutual understanding.</p>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-headset"></i></a>
                                    </div>
                                    <h3>Service</h3>
                                    <p>We will be an open, responsive, accessible and empathetic company to our customers as our aim is to provide world-class customer service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix nopadding">
            <div class="container">
                <div class="section nobg nopadding">
                    <div class="row clearfix">
                        <!-- Video Texts
                        ============================================= -->
                        <div class="align-self-center col-lg-5">
                            <div class="heading-block bottommargin-sm noborder">
                                <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">
                                    Our Achievements
                                </h3>
                            </div>
                            <p class="t400">
                                Truth is, awards are quite insignificant to us as compared to our clients’ satisfaction and our work. We just do what we do best and we get acknowledged from it unassumingly.
                            </p>

                        </div>

                        <div class="col-lg-7 text-center">
                            <img src="~/Content/images/oekologo.png" class="mb-3" width="200px" />
                            <br />
                            <img src="~/Content/images/Certificate.PNG" height="600px" width="auto" />

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section><!-- #content end -->
