
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>Portfolio</h1>
        <p class="mb-0 mt-1">IFHA is a name synonymous with perfection. </p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/index">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Portfolio</li>
        </ol>
    </div>

</section>
<!-- Content -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">


            <ul id="portfolio-filter" class="clearfix portfolio-filter text-center" data-container="#portfolio">

                <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                <li><a href="#" data-filter=".elastic">Elastic</a></li>
                <li><a href="#" data-filter=".drawcord">Draw Cord</a></li>
                <li><a href="#" data-filter=".TwillTapes">Twill Tapes</a></li>

            </ul> 

            <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
                <i class="icon-random"></i>
            </div>

            <div class="clear"></div>

            <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-masonry clearfix">


                <!--Elastic-->
                <article class="portfolio-item elastic">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/elastic/5.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Elastic</a></h3>
                    </div>
                </article>
                <!-- TwillTapes-->
                <article class="portfolio-item TwillTapes">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/TwillTapes/4.jpg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Twill Tapes</a></h3>
                    </div>
                </article>

                <!--Elastic-->
                <article class="portfolio-item elastic">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/elastic/7.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Elastic</a></h3>
                    </div>
                </article>
                <!--Elastic-->
                <article class="portfolio-item elastic">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/elastic/1.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Elastic</a></h3>
                    </div>
                </article>
                <!-- Draw Cord-->
                <article class="portfolio-item drawcord">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/drawcord/6.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Draw Cord</a></h3>
                    </div>
                </article>
                <!-- TwillTapes-->
                <article class="portfolio-item TwillTapes">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/TwillTapes/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Twill Tapes</a></h3>
                    </div>
                </article>
                <!-- Draw Cord-->
                <article class="portfolio-item drawcord">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/drawcord/8.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Draw Cord</a></h3>
                    </div>
                </article>
                <!--Elastic-->
                <article class="portfolio-item elastic">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/elastic/4.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Elastic</a></h3>
                    </div>
                </article>
                <!-- TwillTapes-->
                <article class="portfolio-item TwillTapes">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/TwillTapes/7.jpg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Twill Tapes</a></h3>
                    </div>
                </article>
                <!--Elastic-->
                <article class="portfolio-item elastic">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/elastic/8.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Elastic</a></h3>
                    </div>
                </article>
                <!-- Draw Cord-->
                <article class="portfolio-item drawcord">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/drawcord/7.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Draw Cord</a></h3>
                    </div>
                </article>
                <!-- TwillTapes-->
                <article class="portfolio-item TwillTapes">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/TwillTapes/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Twill Tapes</a></h3>
                    </div>
                </article>
                <!--Elastic-->
                <article class="portfolio-item elastic">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/elastic/6.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Elastic</a></h3>
                    </div>
                </article>
                <!-- Draw Cord-->
                <article class="portfolio-item drawcord">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/drawcord/5.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Draw Cord</a></h3>
                    </div>
                </article>


                <!-- TwillTapes-->
                <article class="portfolio-item TwillTapes">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/TwillTapes/5.jpg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Twill Tapes</a></h3>
                    </div>
                </article>

                <!-- Draw Cord-->
                <article class="portfolio-item drawcord">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/drawcord/12.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Draw Cord</a></h3>
                    </div>
                </article>
                <!-- TwillTapes-->
                <article class="portfolio-item TwillTapes">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/TwillTapes/8.jpg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Twill Tapes</a></h3>
                    </div>
                </article>
                <!--Elastic-->
                <article class="portfolio-item elastic">
                    <div class="portfolio-image">
                        <a href="">
                            <img src="~/Content/images/elastic/3.jpeg" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="#">Elastic</a></h3>
                    </div>
                </article>
            </div> 

        </div>

    </div>

</section>
<!-- #content end -->
