
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-pattern">
    <div class="container clearfix">
        <h1>Products</h1>
        <p class="mb-0 mt-1">IFHA is a name synonymous with originality, creativity and an endeavor towards perfection. </p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/index">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Product</li>
        </ol>
    </div>
</section>
<!-- #page-title end -->
<!-- Content  -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="heading-block mb-3 center noborder" data-heading="DO">
                <h1>Our Products </h1>
            </div>
            <div class="center bottommargin-lg col-lg-8 offset-lg-2">
                <h3 class="text-rotater  size-18 text-black font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                    We specialize in manufacturing wide variety of Round Draw Cord, Twill Tape, Bungee Cords, Tubular Cord, and Elastic.
                </h3>
            </div>
        </div>
        <div class="container nopadding notopmargin nobg clearfix">
            <div class="row align-items-stretch clearfix">
                <div class="col-lg-6 center padding-y" style="background: url('../../Content/images/elastic/3.jpeg') center center no-repeat; background-size: cover;">
                    <div>&nbsp;</div>
                </div>
                <div class="col-lg-6 padding-f bg-light" style=" z-index: -0;">
                    <div>
                        <div style="position: relative;">
                            <div class="heading-block noborder mb-4" data-heading="">
                                <h3 class="nott ls0 mb-3">Elastics</h3>
                                <p class="Product-para">
                                    We produce basic and fancy elastics for our customers. Having an extensive fleet of german machinery for these items, we have a capacity to produce about 675,000 meters of elastic per month. We are using the finest rubber available in the market and have strict guidelines that are followed by our quality control personnel.
                                </p>
                            </div>
                        </div>
                        <div class=" clearfix">
                            <h3 class="mb-3 text-gold ">Available Sizes</h3>

                            <h3>
                                <span class="badge badge-secondary p-2 mb-2 mr-1">½ inch</span>
                                <span class="badge badge-secondary p-2 mb-2 mr-1">¾ inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">1 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">1.25 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">1.5 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">1.75 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">2 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">2.25 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">2.5 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">2.75 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">3 inch</span>
                            </h3>
                        </div>
                </div>
            </div>
            <div class="row align-items-stretch clearfix">
                <div class="col-lg-6 order-2 order-sm-2 order-md-1 padding-f bg-light" style=" z-index: -0;">
                    <div>
                        <div style="position: relative;">
                            <div class="heading-block noborder mb-4" data-heading="">
                                <h3 class="nott ls0 mb-3">Draw Cord</h3>
                                <p class="Product-para">
                                    Over the years, we have produced flat and tubular cords in multiple designs. Today, we have a capacity to produce about 35,000 lbs of cords per month and we are serving leading exporters and local brands in both home textile and apparel divisions. Leveraging on the competence of our capable and dedicated workforce, we have brought forth a wide and exceptional class range of drawcord.
                                </p>
                            </div>
                        </div>
                        <div class=" clearfix">
                            <h3 class="mb-3 text-gold ">Available Sizes</h3>

                            <h3>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">2 cm</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">1 inch</span>
                                <span class="badge badge-secondary p-2 mb-2  mr-1">10 mm</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-sm-1 order-md-2 center padding-y" style="background: url('../../Content/images/drawcord/9.jpeg') center center no-repeat; background-size: cover;">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="row align-items-stretch clearfix">
                <div class="col-lg-6 center padding-y" style="background: url('../../Content/images/TwillTapes/8.jpg') center center no-repeat; background-size: cover;">
                    <div>&nbsp;</div>
                </div>
                <div class="col-lg-6 padding-f bg-light" style=" z-index: -0;">
                    <div>
                        <div style="position: relative;">
                            <div class="heading-block noborder mb-4" data-heading="">
                                <h3 class="nott ls0 mb-3">Twill Tapes</h3>
                                <p class="Product-para">
                                    Our twill tapes are normally produced in polyester and cotton yarn as per our client requirements. We provide exclusive sampling services to our clients and work closely with them regarding their garment accessories needs. Our products are being used in men's formal and casual wear by our clients.
                                </p>
                            </div>
                        </div>
                        <div class=" clearfix">
                            <h3 class="mb-3 text-gold ">Available Sizes</h3>

                            <h3>
                                <span class="badge badge-secondary mb-2  mr-1">1 inch</span>
                                <span class="badge badge-secondary mb-2  mr-1">½ inch</span>
                                <span class="badge badge-secondary mb-2  mr-1">3/8 inch</span>
                                <span class="badge badge-secondary mb-2  mr-1">8 mm</span>
                                <span class="badge badge-secondary mb-2  mr-1">10 mm</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



